@charset "UTF-8";
body {
    background-color: #13FA45;
    font-family: sans-serif;
}
h1{
    color: green;
}
h1#Principal{
    text-align: #0EAD30;
    background-color: #0B8B27;
    color: white;
}
h2{
    color: rgb(21, 46, 21);
}
.intermediario {
    color: yellow;

}
.avancado{
    color: red;

}
